button {
  height: 30px;
  width: 120px;
  outline: none;
  margin: 10px;
  border: none;
  border-radius: 2px;
}

button.current {
  box-shadow: 0 0 0 2px white,
              0 0 0 4px black;
}

div {
  margin: auto;
  text-align: center;
}

input {
  margin: auto;
  display: inline-block;
}

label {
  margin: auto;
  display: inline-block;
}